In [2]:
import pandas as pd
import numpy as np

In [4]:
dice = pd.Series(range(1,7))

In [7]:
dice.sample(1).values[0]

4

In [8]:
rolls = [dice.sample(1).values[0] for _ in range(10000)]

In [11]:
pd.Series(rolls).value_counts(normalize=True)

5    0.1698
1    0.1692
6    0.1669
4    0.1662
3    0.1656
2    0.1623
Name: proportion, dtype: float64

In [13]:
dice.value_counts(normalize=True)

1    0.166667
2    0.166667
3    0.166667
4    0.166667
5    0.166667
6    0.166667
Name: proportion, dtype: float64

# Task 1 
Определить вероятность того, что в группе сосоящей из 23 человек, у двух людей будет совпадение дня рождений (число и месяц)

In [14]:
bd = pd.Series(range(365))

In [15]:
bd

0        0
1        1
2        2
3        3
4        4
      ...
360    360
361    361
362    362
363    363
364    364
Length: 365, dtype: int64

In [16]:
bd.sample(23, replace=True) # Генератор команты

356    356
354    354
364    364
18      18
281    281
354    354
172    172
121    121
168    168
83      83
129    129
157    157
214    214
10      10
160    160
88      88
271    271
130    130
267    267
288    288
165    165
153    153
46      46
dtype: int64

In [24]:
t = bd.sample(23, replace=True)

In [25]:
t.duplicated()

23     False
26     False
19     False
35     False
94     False
335    False
134    False
297    False
8      False
215    False
260    False
358    False
344    False
63     False
92     False
94      True
118    False
246    False
63      True
128    False
243    False
168    False
287    False
dtype: bool

In [26]:
t.duplicated().max()

True

In [32]:
rooms = [bd.sample(23, replace=True).duplicated().max() for _ in range(10000)]

In [33]:
np.mean(rooms)

0.5099

In [34]:
rooms = [bd.sample(57, replace=True).duplicated().max() for _ in range(10000)]

In [35]:
np.mean(rooms)

0.9891

# Task 2 
Экзамен проходит по следующей схеме: если некоторый билет уже был вытянут, то после ответа экзаменатор откладывает его в сторону. Студент выучил 20 билетов из 30. Когда ему выгоднее идти, первым или вторым, чтобы вероятность вынуть выученный билет была больше?

In [37]:
tickets = list(range(1,31))

In [38]:
tickets

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [39]:
student = list(range(1,21))

In [40]:
student

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [43]:
from random import shuffle

In [44]:
shuffle(tickets)

In [45]:
tickets

[4,
 28,
 30,
 14,
 21,
 23,
 19,
 26,
 12,
 1,
 16,
 13,
 2,
 7,
 20,
 25,
 29,
 5,
 8,
 3,
 27,
 15,
 17,
 11,
 18,
 9,
 6,
 24,
 10,
 22]

In [54]:
4 in student

True

In [51]:
n = 1000
student = list(range(1,21))
tickets = list(range(1,31))
result = []

for _ in range(n):
    shuffle(tickets)
    result.append((tickets[0] in student))

In [52]:
np.mean(result)

0.657

In [53]:
20 / 30

0.6666666666666666

# Task 3

Ночью произошло ДТП с участием такси. В городе работают две компании такси — «Синие» и «Зелёные». «Зелёным» принадлежит 85% такси, «Синим» 15%. Свидетель аварии утверждает, что такси принадлежало «Синим». Следственный эксперимент показал, что ночью свидетель верно определяет цвет такси в 80%. Какова вероятность того, что такси действительно принадлежало «Синим»?

In [56]:
np.random.binomial(1, 0.15)

1

In [59]:
def wintess(taxi):
    if np.random.binomial(1, 0.8):
        return taxi;
    return abs(taxi - 1)

In [68]:
n = 10000
result = []
for _ in range(1000):
    taxi = np.random.binomial(1, 0.15)
    wintess_answer = wintess(taxi)
    result.append((taxi, wintess_answer))

In [72]:
t = pd.DataFrame(result, columns=["taxi", "witness_answer"])

In [76]:
t.groupby("witness_answer")["taxi"].mean()

witness_answer
0    0.044138
1    0.407273
Name: taxi, dtype: float64

# Task 4

Задача. Русская рулетка. Есть револьвер с 2 вставленными подряд патронами..⁠⁠
.. первый крутит барабан и стреляет и остается жив. Твоя очередь: тебе предлагает покрутить барабан перед выстрелом. Согласишься или сразу выстрелишь и почему?
Задача. Русская рулетка. Есть револьвер с 2 вставленными подряд патронами.. .. первый крутит барабан и стреляет и остается жив. Твоя очередь: тебе предлагает покрутить барабан перед выстрелом. Согласишься или сразу выстрелишь и почему?

In [78]:
chamber = [1,1,0,0,0,0]

In [82]:
def one_turn(chamber):
    new_chamber = [0,0,0,0,0,0]
    n = len(chamber)
    for i in range(0, len(chamber)):
        if (i< n-1):
            new_chamber[i + 1] = chamber[i]
        else:
            new_chamber[0] = chamber[i] 
    return new_chamber

In [83]:
chamber = [1,1,0,0,0]

In [84]:
one_turn(chamber)

[0, 1, 1, 1, 0, 0]

In [85]:
chamber = [0,0,0,0,1,1]

In [86]:
one_turn(chamber)

[1, 0, 0, 0, 0, 1]

In [93]:
def spin_chamber(chamber):
    n = np.random.randint(1,7)
    for _ in range(n):
        chamber = one_turn(chamber)
    return chamber

In [94]:
spin_chamber([1,1,0,0,0,0])

[1, 1, 0, 0, 0, 0]

In [100]:
pd.Series([spin_chamber([1,1,0,0,0,0]) for _ in range(1000)]).value_counts(normalize=True)

[0, 0, 0, 0, 1, 1]    0.184
[0, 0, 0, 1, 1, 0]    0.176
[1, 0, 0, 0, 0, 1]    0.172
[0, 0, 1, 1, 0, 0]    0.166
[0, 1, 1, 0, 0, 0]    0.155
[1, 1, 0, 0, 0, 0]    0.147
Name: proportion, dtype: float64

In [113]:
n = 10000
result = []
for _ in range(n):
    # заряжаем револьвер 
    chamber = [1,1,0,0,0,0]
    # первый игрок крутит барабан 
    chamber = spin_chamber(chamber)
    # первый игрок стреляет 
    chamber = one_turn(chamber)

    p1 = chamber[0]
    chamber[0] = 0 
    # второй игрок вращает барабан -- нужно ли это действие? 
    chamber = spin_chamber(chamber)
    # второй игрок стреляет 
    chamber = one_turn(chamber)
    p2 = chamber[0]
    result.append([p1,p2])

In [116]:
t = pd.DataFrame(result, columns = ["p1", "p2"])

In [117]:
t

      p1  p2
0      1   0
1      1   0
2      0   0
3      1   0
4      1   0
...   ..  ..
9995   1   0
9996   1   0
9997   0   1
9998   0   1
9999   1   0

[10000 rows x 2 columns]

In [121]:
t.groupby("p1")["p2"].agg(["count","mean"])

    count      mean
p1
0    6748  0.334914
1    3252  0.174354

In [125]:
n = 10000
result = []
for _ in range(n):
    # заряжаем револьвер 
    chamber = [1,1,0,0,0,0]
    # первый игрок крутит барабан 
    chamber = spin_chamber(chamber)
    # первый игрок стреляет 
    chamber = one_turn(chamber)

    p1 = chamber[0]
    chamber[0] = 0 
    # второй игрок стреляет 
    chamber = one_turn(chamber)
    p2 = chamber[0]
    result.append([p1,p2])

In [126]:
t = pd.DataFrame(result, columns = ["p1", "p2"])

In [127]:
t.groupby("p1")["p2"].agg(["count","mean"])

    count      mean
p1
0    6706  0.246794
1    3294  0.506679

In [ ]:
# Получается вращать барабан не нужно.